root = true

[*.{css,html,js,jsx,md,ts,tsx,yaml,yml}]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[*.{json,yaml,yml}]
indent_size = 2
indent_style = space

[*.{css,html,js,jsx,ts,tsx}]
indent_style = tab
